@use "../helpers" as *;

.footer {
  margin-top: clamp(rem(40), 8vw, rem(160));

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: clamp(rem(20), 3vw, rem(40));
    border-top: rem(1) solid;
    border-right: rem(1) solid;
    border-left: rem(1) solid;
    border-radius: rem(40);
    gap: clamp(rem(20), 3vw, rem(40));
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(rem(20), 3vw, rem(60));
    flex: 1 0 rem(200);

    &-title {
      font-size: clamp(rem(20), 3vw, rem(34));
    }

    &-sub-title {
      font-size: clamp(rem(12), 1.4vw, rem(14));
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(20);
    flex: 1 0 rem(200);
  }

  &__soc1als {
    &__list {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      column-gap: clamp(rem(20), 3vw, rem(50));
      row-gap: rem(15);

      &-link {
        svg {
          height: clamp(rem(28), 3vw, rem(50));
          width: clamp(rem(28), 3vw, rem(50));
        }
      }
    }
  }

  &__copyright {
    text-align: end;
  }

  @include mobile {
    &__inner {
      flex-direction: column;
      gap: rem(25);
      text-align: center;
    }

    &__body {
      flex: 0;
      gap: rem(25);
    }

    &__soc1als {
      &__list {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: rem(25);
      flex: 0;
    }

    &__copyright {
      text-align: center;
    }
  }
}
