/**
  Normalize the box model
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Remove default left padding from list elements that have a class attribute
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Remove default outer margin from body and select tagged elements that have a class attribute
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Remove vertical outer margins from select tagged elements that have a class attribute
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Remove the default marker from unordered lists that have a class attribute
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Reset vertical paragraph margins and declare a local variable for the
  bottom margin to avoid interaction with more specific selectors
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Bottom margin for paragraphs without a class attribute that are not the
  last among their siblings
 */
:where(p:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Make working with images and videos easier
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Inherit font styles for form fields
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Useful in most situations (e.g. when you need to "stick" the footer to the bottom of the page)
   */
  height: 100%;
  /**
    Prevent horizontal layout shift when the scrollbar appears or disappears
   */
  scrollbar-gutter: stable;
}

/**
  Smooth scrolling
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Useful in most situations (e.g. when you need to "stick" the footer to the bottom of the page)
   */
  min-height: 100%;
  /**
    Unified line-height
   */
  line-height: 1.5;
}

/**
  Normalize the height of the link element when inspecting it in DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Show a pointer cursor when hovering over interactive elements
 */
button,
label {
  cursor: pointer;
}

/**
  Apply a uniform color to SVG elements (except those with a fill of 'none'
  or starting with 'url')
 */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

/**
  Apply a uniform color to SVG strokes (except those with a stroke of 'none')
 */
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

/**
  Fix the color transition delay bug when interacting with SVG elements
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Use the classic 'collapse' style for table borders
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Disable animations and transitions for users who prefer reduced motion
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
