@use "helpers" as *;

:root {
  --font-family-base: "Matangi", sans-serif;

  --main-background-color: #f3f3f3;
  --text-color: #000000;
  --color-accent: #fcc82b;
  --color-light: #f3f3f3;
  --color-black: black;
  --color-gray: #555;
  --color-light-gray: #ccc;

  --container-width: #{rem(1100)};
  --container-padding-x: clamp(#{rem(16)}, 4vw, #{rem(40)});
  --transition-duration: 0.2s;

  --section-padding-y: clamp(#{rem(48)}, 10vw, #{rem(160)});
  --hero-title-size: clamp(#{rem(20)}, 4vw, #{rem(34)});
  --section-title-size: clamp(#{rem(22)}, 3vw, #{rem(36)});
}

[data-theme="dark"] {
  --main-background-color: #121212;
  --text-color: #ffffff;
}
